---
title: API Reference | BMATIC API

toc_footers:
- <a href='http://www.hiper.com.pe'>Powered by HIPER S.A.</a>

branches_api:
    - list_branches
    - show_branch_details

tickets_api:
    - list_available_services_for_tickets
    - list_customer_tickets
    - show_ticket_details
    - create_ticket
    - update_ticket
    - delete_ticket

bookings_api:
    - list_available_services_for_bookings
    - list_available_days_for_bookings
    - list_customer_bookings
    - show_booking_details
    - create_booking
    - update_booking
    - delete_booking

error_messages:
    - bad_request
    - not_found
    - internal_server_error

common_object_definitions:
    - booking
    - branch
    - channel
    - counter
    - day
    - print_line
    - range
    - sector
    - service
    - ticket

search: true
---

# Introduction

Welcome to the Bmatic API! You can use our API to integrate your application with us. Now, trought our endpoints you can access to services of BMATIC's branches from any application.

You can download [our specification](./swagger.json) and generate your own client in your preference language trought the code generator of [swagger](http://swagger.io/) and  speed up your integration with us.

Improve your customers' experience!

**Schemes**: `http, https`

**Host**: `api.bmatic.com`

**Base path**: `/v1`

<%= partial "includes/branches_api" %>
<%= partial "includes/tickets_api" %>
<%= partial "includes/bookings_api" %>
<%= partial "includes/common_object_definitions" %>

<style>
    ul.enum {
        margin: 0;
        padding: 0 0 0 2px;
        list-style-position: inside;
    }
    .required {
        color: red;
        font-weight: bold;
    }
    a.pseudo {
        border-bottom:1px dashed;
        text-decoration: none;
    }
</style>
