---
title: API Reference | BMATIC API

toc_footers:
- <a href='http://www.hiper.com.pe'>Powered by HIPER S.A.</a>

branches_api:
    - list_branches
    - show_branch_details

tickets_api:
    - list_available_services_for_tickets
    - list_customer_tickets
    - show_ticket_details
    - create_ticket
    - cancel_ticket

bookings_api:
    - list_available_services_for_bookings
    - list_available_days_for_bookings
    - list_customer_bookings
    - show_booking_details
    - create_booking
    - cancel_booking

common_object_definitions:
    - booking
    - branch
    - channel
    - counter
    - counter_type
    - day
    - error
    - print_line
    - queue_type
    - range
    - sector
    - service
    - ticket

search: true
---

# Introduction

Welcome to the Bmatic API! You can use our API to integrate your application with Bmatic System. Now, trought our endpoints you can access BMATIC branches services from any application.

You can download our specification and generate your own client in your prefered language trought the [swagger](http://swagger.io/) code generator and speed up your integration process.

Improve your customers' experience!

**Schemes**: `http, https`

**Host**: `api.bmatic.com`

**Base path**: `/v1`

<%= partial "includes/branches_api" %>
<%= partial "includes/tickets_api" %>
<%= partial "includes/bookings_api" %>
<%= partial "includes/common_object_definitions" %>

<style>
    ul.enum {
        margin: 0;
        padding: 0 0 0 2px;
        list-style-position: inside;
    }
    .required {
        color: red;
        font-weight: bold;
    }
    a.pseudo {
        border-bottom:1px dashed;
        text-decoration: none;
    }
</style>
