{"swagger":"2.0","info":{"title":"BMATIC API","description":"Welcome to the BMATIC API! You can use our API to integrate your application with us. Now, trought our endpoints you can access to services of BMATIC's branches from any application.\n\n\nThe BMATIC API uses HTTP methods and a RESTful endpoint structure. The API authorization framework is OAuth 2.0. You format requests in JSON and the API return JSON-formatted responses. \n\n\nImprove your customers' experience!","termsOfService":"https://api.bmatic.com/terms","contact":{"name":"API Support","url":"https://api.bmatic.com/support","email":"support@api.bmatic.com"},"version":"v1"},"host":"api.bmatic.com","schemes":["http","https"],"basePath":"/v1","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"paths":{"/branches":{"get":{"tags":["Branch"],"description":"Returns all branches that fulfill the filters. Support to getting of branches by the customer location. When the parameters longitude and latitude were recived, the branches are sorted by the better distance to client location and the branches in the page returned are sorted by the more short estimated waiting time; else the branches only are sorted by the more short estimated waiting time.","summary":"Get All Branches","operationId":"getAllBranches","produces":["application/json"],"parameters":[{"name":"latitude","in":"query","type":"integer","format":"int32","minimum":-90,"maximum":90,"description":"Latitude component of customer location.","required":false},{"name":"longitude","in":"query","type":"integer","format":"int32","minimum":-90,"maximum":90,"description":"Longitude component of customer location.","required":false},{"name":"distance","in":"query","type":"integer","format":"int32","minimum":1000,"maximum":20000,"default":5000,"description":"Maximum distance from the customer location to the branch, per example 1000 meters.","required":false},{"name":"service_id","in":"query","type":"string","pattern":"^[0-9a-z]{2,6}$","description":"Unique identifier of service requested by customer.","required":false},{"name":"is_virtual","in":"query","type":"boolean","description":"Flag of virtual ticket enable for branch.","required":false},{"name":"is_bookable","in":"query","type":"boolean","description":"Flag of booking enable for branch.","required":false},{"name":"status","in":"query","type":"string","enum":["open","close"],"description":"Status of branch.","required":false},{"name":"fields","in":"query","type":"array","items":{"type":"string","pattern":"^[_a-z]{1,30}$"},"collectionFormat":"csv","description":"Entity fields that will return at response.","required":false},{"name":"offset","in":"query","type":"integer","format":"int32","minimum":0,"maximum":99999,"default":0,"description":"Position in pagination. Default is zero.","required":false},{"name":"limit","in":"query","type":"integer","format":"int32","minimum":1,"maximum":50,"default":10,"description":"Number of items to retrieve. Default is 10, maximum is 50.","required":false}],"responses":{"200":{"description":"A list of branches.","schema":{"type":"array","items":{"$ref":"#/definitions/Branch"}},"headers":{"X-Pagination-Count":{"description":"Total number of items.","type":"integer","format":"int32"},"X-Pagination-Page":{"description":"Number of the current page.","type":"integer","format":"int32"},"X-Pagination-Limit":{"description":"Number of items returned.","type":"integer","format":"int32"}}},"400":{"description":"Bad request."},"404":{"description":"Non exists branches that fulfill the filters."},"500":{"description":"An error has occurred."}},"schemes":["http","https"],"deprecated":false}},"/branches/{branch_id}":{"get":{"tags":["Branch"],"description":"Returns a specific branch requested by ID.","summary":"Get Branch","operationId":"getBranch","produces":["application/json"],"parameters":[{"name":"branch_id","in":"path","type":"string","pattern":"^[0-9a-z]{2,6}$","description":"Unique identifier of branch.","required":true},{"name":"fields","in":"query","type":"array","items":{"type":"string","pattern":"^[_a-z]{1,30}$"},"collectionFormat":"csv","description":"Entity fields that will return at response.","required":false}],"responses":{"200":{"description":"A branch.","schema":{"$ref":"#/definitions/Branch"}},"400":{"description":"Bad request."},"404":{"description":"Branch not found."},"500":{"description":"An error has occurred."}},"schemes":["http","https"],"deprecated":false}},"/branches/{branch_id}/sectors":{"get":{"tags":["Branch"],"description":"Returns all sectors of a specific branch that fulfill the filters. The sectors are sorted by their name.","summary":"Get All Sectors","operationId":"getAllSectors","produces":["application/json"],"parameters":[{"name":"branch_id","in":"path","type":"string","pattern":"^[0-9a-z]{2,6}$","description":"Unique identifier of branch.","required":true},{"name":"service_id","in":"query","type":"string","pattern":"^[0-9a-z]{2,6}$","description":"Unique identifier of service requested by customer.","required":false},{"name":"status","in":"query","type":"string","enum":["open","close"],"description":"Status of sector.","required":false},{"name":"fields","in":"query","type":"array","items":{"type":"string","pattern":"^[_a-z]{1,30}$"},"collectionFormat":"csv","description":"Entity fields that will return at response.","required":false},{"name":"offset","in":"query","type":"integer","format":"int32","minimum":0,"maximum":99999,"default":0,"description":"Position in pagination. Default is zero.","required":false},{"name":"limit","in":"query","type":"integer","format":"int32","minimum":1,"maximum":50,"default":10,"description":"Number of items to retrieve. Default is 10, maximum is 50.","required":false}],"responses":{"200":{"description":"A list of sectors.","schema":{"type":"array","items":{"$ref":"#/definitions/Sector"}},"headers":{"X-Pagination-Count":{"description":"Total number of items.","type":"integer","format":"int32"},"X-Pagination-Page":{"description":"Number of the current page.","type":"integer","format":"int32"},"X-Pagination-Limit":{"description":"Number of items returned.","type":"integer","format":"int32"}}},"400":{"description":"Bad request."},"404":{"description":"Non exists sectors that fulfill the filters."},"500":{"description":"An error has occurred."}},"schemes":["http","https"],"deprecated":false}},"/branches/{branch_id}/sectors/{sector_id}":{"get":{"tags":["Branch"],"description":"Returns a specific sector of a branch.","summary":"Get Sector","operationId":"getSector","produces":["application/json"],"parameters":[{"name":"branch_id","in":"path","type":"string","pattern":"^[0-9a-z]{2,6}$","description":"Unique identifier of branch.","required":true},{"name":"sector_id","in":"path","type":"string","pattern":"^[0-9a-z]{2,6}$","description":"Unique identifier of sector.","required":true},{"name":"fields","in":"query","type":"array","items":{"type":"string","pattern":"^[_a-z]{1,30}$"},"collectionFormat":"csv","description":"Entity fields that will return at response.","required":false}],"responses":{"200":{"description":"A sector.","schema":{"$ref":"#/definitions/Sector"}},"400":{"description":"Bad request."},"404":{"description":"Sector not found."},"500":{"description":"An error has occurred."}},"schemes":["http","https"],"deprecated":false}},"/services":{"get":{"tags":["Service"],"description":"Returns all available services that fulfill the filters. The services are sorted by their name.","summary":"Get All Services","operationId":"getAllServices","produces":["application/json"],"parameters":[{"name":"branch_id","in":"query","type":"string","pattern":"^[0-9a-z]{2,6}$","description":"Unique identifier of branch.","required":false},{"name":"sector_id","in":"query","type":"string","pattern":"^[0-9a-z]{2,6}$","description":"Unique identifier of sector.","required":false},{"name":"fields","in":"query","type":"array","items":{"type":"string","pattern":"^[_a-z]{1,30}$"},"collectionFormat":"csv","description":"Entity fields that will return at response.","required":false},{"name":"offset","in":"query","type":"integer","format":"int32","minimum":0,"maximum":99999,"default":0,"description":"Position in pagination. Default is zero.","required":false},{"name":"limit","in":"query","type":"integer","format":"int32","minimum":1,"maximum":50,"default":10,"description":"Number of items to retrieve. Default is 10, maximum is 50.","required":false}],"responses":{"200":{"description":"A list of services.","schema":{"type":"array","items":{"$ref":"#/definitions/Service"}},"headers":{"X-Pagination-Count":{"description":"Total number of items.","type":"integer","format":"int32"},"X-Pagination-Page":{"description":"Number of the current page.","type":"integer","format":"int32"},"X-Pagination-Limit":{"description":"Number of items returned.","type":"integer","format":"int32"}}},"400":{"description":"Bad request."},"404":{"description":"Non exists available services that fulfill the filters."},"500":{"description":"An error has occurred."}},"schemes":["http","https"],"deprecated":false}},"/services/{service_id}":{"get":{"tags":["Service"],"description":"Returns a specific service requested by ID.","summary":"Get Service","operationId":"getService","produces":["application/json"],"parameters":[{"name":"service_id","in":"path","type":"string","pattern":"^[0-9a-z]{2,6}$","description":"Unique identifier of service.","required":true},{"name":"fields","in":"query","type":"array","items":{"type":"string","pattern":"^[_a-z]{1,30}$"},"collectionFormat":"csv","description":"Entity fields that will return at response.","required":false}],"responses":{"200":{"description":"A service.","schema":{"$ref":"#/definitions/Service"}},"400":{"description":"Bad request."},"404":{"description":"Service not found."},"500":{"description":"An error has occurred."}},"schemes":["http","https"],"deprecated":false}},"/bookings":{"post":{"tags":["Booking"],"description":"Create a new customer booking and then it returns it.","summary":"Create Booking","operationId":"createBooking","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"channel","in":"formData","type":"string","pattern":"^[0-9A-Za-z]{1,20}$","description":"Unique identifier of the channel used. This value is used to identify the type of device that consumes the API and should to be configured in administrative web of BMATIC.","required":true},{"name":"branch_id","in":"formData","type":"string","pattern":"^[0-9a-z]{2,6}$","description":"Unique identifier of branch requested.","required":true},{"name":"service_id","in":"formData","type":"string","pattern":"^[0-9a-z]{2,6}$","description":"Unique identifier of service requested.","required":true},{"name":"customer_id_type","in":"formData","type":"string","pattern":"^[0-9A-Za-z]{1,4}$","description":"Unique identifier of customer id type.","required":true},{"name":"customer_id_number","in":"formData","type":"string","pattern":"^[0-9A-Za-z]{1,16}$","description":"Number of customer id.","required":true},{"name":"start_time","in":"formData","type":"string","format":"datetime","description":"Start time of booking.","required":true},{"name":"end_time","in":"formData","type":"string","format":"datetime","description":"End time of booking.","required":true}],"responses":{"201":{"description":"Successful creation.","schema":{"$ref":"#/definitions/Booking"}},"400":{"description":"Bad request."},"500":{"description":"An error has occurred."}},"schemes":["http","https"],"deprecated":false},"get":{"tags":["Booking"],"description":"Returns all bookings created by a specific customer, the bookings are sorted descendantly by the creation date.","summary":"Get All Bookings","operationId":"getAllBookings","produces":["application/json"],"parameters":[{"name":"customer_id_type","in":"query","type":"string","pattern":"^[0-9A-Za-z]{1,4}$","description":"Unique identifier of customer id type.","required":true},{"name":"customer_id_number","in":"query","type":"string","pattern":"^[0-9A-Za-z]{1,16}$","description":"Number of customer id.","required":true},{"name":"status","in":"query","type":"string","enum":["used","pending"],"description":"Status of booking.","required":false},{"name":"fields","in":"query","type":"array","items":{"type":"string","pattern":"^[_a-z]{1,30}$"},"collectionFormat":"csv","description":"Entity fields that will return at response.","required":false},{"name":"offset","in":"query","type":"integer","format":"int32","minimum":0,"maximum":99999,"default":0,"description":"Position in pagination. Default is zero.","required":false},{"name":"limit","in":"query","type":"integer","format":"int32","minimum":1,"maximum":50,"default":10,"description":"Number of items to retrieve. Default is 10, maximum is 50.","required":false}],"responses":{"200":{"description":"A list of bookings.","schema":{"type":"array","items":{"$ref":"#/definitions/Booking"}},"headers":{"X-Pagination-Count":{"description":"Total number of items.","type":"integer","format":"int32"},"X-Pagination-Page":{"description":"Number of the current page.","type":"integer","format":"int32"},"X-Pagination-Limit":{"description":"Number of items returned.","type":"integer","format":"int32"}}},"400":{"description":"Bad request.","schema":{"$ref":"#/definitions/Error"},"examples":{"application/json":{"message":"Status sended is not valid."}}},"404":{"description":"Non exists bookings that fulfill the filters."},"500":{"description":"An error has occurred."}},"schemes":["http","https"],"deprecated":false}},"/bookings/{booking_id}":{"get":{"tags":["Booking"],"description":"Returns a customer booking by ID.","summary":"Get Booking","operationId":"getBooking","produces":["application/json"],"parameters":[{"name":"booking_id","in":"path","type":"string","pattern":"^[0-9a-z]{8,16}$","description":"Unique identifier of booking.","required":true},{"name":"fields","in":"query","type":"array","items":{"type":"string","pattern":"^[_a-z]{1,30}$"},"collectionFormat":"csv","description":"Entity fields that will return at response.","required":false}],"responses":{"200":{"description":"A booking.","schema":{"$ref":"#/definitions/Booking"}},"400":{"description":"Bad request."},"404":{"description":"Booking not found."},"500":{"description":"An error has occurred."}},"schemes":["http","https"],"deprecated":false},"delete":{"tags":["Booking"],"description":"Delete a customer booking by ID.","summary":"Delete Booking","operationId":"deleteBooking","parameters":[{"name":"booking_id","in":"path","type":"string","pattern":"^[0-9a-z]{8,16}$","description":"Unique identifier of booking.","required":true}],"responses":{"204":{"description":"Successful deletion."},"400":{"description":"Bad request."},"404":{"description":"Booking not found."},"500":{"description":"An error has occurred."}},"schemes":["http","https"],"deprecated":false}},"/bookings/days":{"get":{"tags":["Booking"],"description":"Returns a list of days for book a specific service in a branch. The days are sorted ascendantly.","summary":"Get Days For Book","operationId":"getDaysForBook","produces":["application/json"],"parameters":[{"name":"branch_id","in":"query","type":"string","pattern":"^[0-9a-z]{2,6}$","description":"Unique identifier of branch requested.","required":true},{"name":"service_id","in":"query","type":"string","pattern":"^[0-9a-z]{2,6}$","description":"Unique identifier of service requested.","required":true},{"name":"offset","in":"query","type":"integer","format":"int32","minimum":0,"maximum":99999,"default":0,"description":"Position in pagination. Default is zero.","required":false},{"name":"limit","in":"query","type":"integer","format":"int32","minimum":1,"maximum":50,"default":10,"description":"Number of items to retrieve. Default is 10, maximum is 50.","required":false}],"responses":{"200":{"description":"A list of booking days.","schema":{"type":"array","items":{"$ref":"#/definitions/BookingDay"}},"headers":{"X-Pagination-Count":{"description":"Total number of items.","type":"integer","format":"int32"},"X-Pagination-Page":{"description":"Number of the current page.","type":"integer","format":"int32"},"X-Pagination-Limit":{"description":"Number of items returned.","type":"integer","format":"int32"}}},"400":{"description":"Bad request."},"404":{"description":"Non exists available booking days."},"500":{"description":"An error has occurred."}},"schemes":["http","https"],"deprecated":false}},"/tickets":{"post":{"tags":["Ticket"],"description":"Create a new customer ticket and then it returns it.","summary":"Create Ticket","operationId":"createTicket","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"channel","in":"formData","type":"string","pattern":"^[0-9A-Za-z]{1,20}$","description":"Unique identifier of the channel used. This value is used to identify the type of device that consumes the API and should to be configured in administrative web of BMATIC.","required":true},{"name":"branch_id","in":"formData","type":"string","pattern":"^[0-9a-z]{2,6}$","description":"Unique identifier of branch requested by customer.","required":true},{"name":"sector_id","in":"formData","type":"string","pattern":"^[0-9a-z]{2,6}$","description":"Unique identifier of sector requested by customer.","required":true},{"name":"service_id","in":"formData","type":"string","pattern":"^[0-9a-z]{2,6}$","description":"Unique identifier of service requested by customer.","required":true},{"name":"customer_id_type","in":"query","type":"string","pattern":"^[0-9A-Za-z]{1,4}$","description":"Unique identifier of customer id type.","required":false},{"name":"customer_id_number","in":"query","type":"string","pattern":"^[0-9A-Za-z]{1,16}$","description":"Number of customer id.","required":false},{"name":"phone","in":"formData","type":"string","pattern":"^\\+[1-9]{1}[0-9]{3,14}$","description":"Customer phone for notifications.","required":false}],"responses":{"201":{"description":"Successful creation.","schema":{"$ref":"#/definitions/Ticket"}},"400":{"description":"Bad request."},"500":{"description":"An error has occurred."}},"schemes":["http","https"],"deprecated":false},"get":{"tags":["Ticket"],"description":"Returns all tickets created by a specific customer, the tickets are sorted descendantly by the creation date.","summary":"Get All Tickets","operationId":"getAllTickets","produces":["application/json"],"parameters":[{"name":"customer_id_type","in":"query","type":"string","pattern":"^[0-9A-Za-z]{1,4}$","description":"Unique identifier of customer id type.","required":true},{"name":"customer_id_number","in":"query","type":"string","pattern":"^[0-9A-Za-z]{1,16}$","description":"Number of customer id.","required":true},{"name":"fields","in":"query","type":"array","items":{"type":"string","pattern":"^[_a-z]{1,30}$"},"collectionFormat":"csv","description":"Entity fields that will return at response.","required":false},{"name":"offset","in":"query","type":"integer","format":"int32","minimum":0,"maximum":99999,"default":0,"description":"Position in pagination. Default is zero.","required":false},{"name":"limit","in":"query","type":"integer","format":"int32","minimum":1,"maximum":50,"default":10,"description":"Number of items to retrieve. Default is 10, maximum is 50.","required":false}],"responses":{"200":{"description":"A list of tickets.","schema":{"type":"array","items":{"$ref":"#/definitions/Ticket"}},"headers":{"X-Pagination-Count":{"description":"Total number of items.","type":"integer","format":"int32"},"X-Pagination-Page":{"description":"Number of the current page.","type":"integer","format":"int32"},"X-Pagination-Limit":{"description":"Number of items returned.","type":"integer","format":"int32"}}},"400":{"description":"Bad request."},"404":{"description":"Non exists tickets registered by the customer."},"500":{"description":"An error has occurred."}},"schemes":["http","https"],"deprecated":false}},"/tickets/{ticket_id}":{"get":{"tags":["Ticket"],"description":"Returns a customer ticket by ID.","summary":"Get Ticket","operationId":"getTicket","produces":["application/json"],"parameters":[{"name":"ticket_id","in":"path","type":"string","pattern":"^[0-9a-z]{8,16}$","description":"Unique identifier of ticket.","required":true},{"name":"fields","in":"query","type":"array","items":{"type":"string","pattern":"^[_a-z]{1,30}$"},"collectionFormat":"csv","description":"Entity fields that will return at response.","required":false}],"responses":{"200":{"description":"A ticket.","schema":{"$ref":"#/definitions/Ticket"}},"400":{"description":"Bad request."},"404":{"description":"Ticket not found."},"500":{"description":"An error has occurred."}},"schemes":["http","https"],"deprecated":false},"put":{"tags":["Ticket"],"description":"Update a specific customer ticket(At least one parameter must be sent).","summary":"Update Ticket","operationId":"updateTicket","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"ticket_id","in":"path","type":"string","pattern":"^[0-9a-z]{8,16}$","description":"Unique identifier of ticket.","required":true},{"name":"status","in":"formData","type":"string","enum":["enabled"],"description":"Updated status of the ticket.","required":false},{"name":"phone","in":"formData","type":"string","pattern":"^\\+[1-9]{1}[0-9]{3,14}$","description":"Updated of phone for notifications.","required":false}],"responses":{"204":{"description":"Successful update."},"400":{"description":"Bad request."},"404":{"description":"Ticket not found."},"500":{"description":"An error has occurred."}},"schemes":["http","https"],"deprecated":false},"delete":{"tags":["Ticket"],"description":"Delete a customer ticket by ID.","summary":"Delete Ticket","operationId":"deleteTicket","parameters":[{"name":"ticket_id","in":"path","type":"string","pattern":"^[0-9a-z]{8,16}$","description":"Unique identifier of ticket.","required":true}],"responses":{"204":{"description":"Successful deletion."},"400":{"description":"Bad request."},"404":{"description":"Ticket not found."},"500":{"description":"An error has occurred."}},"schemes":["http","https"],"deprecated":false}}},"definitions":{"Error":{"type":"object","description":"HTTP body used when an error occurred.","example":{"message":"Booking start time is required.","code":"7n76","more_info":"https://bmatic.com/docs/errors/7n76"},"properties":{"message":{"type":"string","description":"A descriptive message regarding the exception."},"code":{"type":"string","description":"An error code to find help for the exception."},"more_info":{"type":"string","description":"The URL of BMatic's documentation for the error code. If the error code is undefined then this value is undefined too."}}},"Branch":{"type":"object","description":"Branch of BMATIC.","example":{"id":"27b6","name":"Hiper Central","short_name":"Hiper","code":"AG001","address":"Calle Beta 181 - 195, Callao","latitude":-12.049919,"longitude":-77.0845193,"status":"open","opening_time":"2017-02-20T14:00:00.000Z","closing_time":"2017-02-20T23:00:00.000Z","low_estimated_time":10,"high_estimated_time":15,"congestion_level":"medium","is_virtual":true,"is_bookable":true},"properties":{"id":{"type":"string","description":"Branch unique identifier."},"name":{"type":"string","description":"Complete name of the branch."},"short_name":{"type":"string","description":"Short name of branch, used to display it in small devices."},"code":{"type":"string","description":"Unique identifier for the branch used in your company system."},"address":{"type":"string","description":"Address of the branch."},"latitude":{"type":"number","format":"float","minimum":-90,"maximum":90,"description":"Latitude component of branch location."},"longitude":{"type":"number","format":"float","minimum":-90,"maximum":90,"description":"Longitude component of branch location."},"status":{"type":"string","enum":["open","close"],"description":"Current status of the branch."},"opening_time":{"type":"string","format":"date-time","description":"Opening time of the branch at current day, or next opening datetime."},"closing_time":{"type":"string","format":"date-time","description":"Closing time of the branch at current day or next closing datetime."},"low_estimated_time":{"type":"integer","format":"int32","minimum":0,"description":"Lower bound of the estimated waiting time. It is undefined when the branch is closed."},"high_estimated_time":{"type":"integer","format":"int32","minimum":0,"description":"Upper bound of the estimated waiting time. It is undefined when the branch is closed."},"congestion_level":{"type":"string","enum":["low","medium","high"],"description":"Congestion level of the branch. It is undefined when the branch is closed."},"is_virtual":{"type":"boolean","example":true,"description":"Indicator of the possibility to create virtual tickets."},"is_bookable":{"type":"boolean","example":true,"description":"Indicator of the possibility to bookings."}}},"Sector":{"type":"object","description":"Branch sector of BMATIC.","example":{"id":"a9","name":"Factory","short_name":"Factory","status":"open","opening_time":"2017-02-20T14:00:00.000Z","closing_time":"2017-02-20T23:00:00.000Z"},"properties":{"id":{"type":"string","description":"Sector unique identifier."},"name":{"type":"string","description":"Complete name of sector."},"short_name":{"type":"string","description":"Short name of sector, used to display it in small devices."},"status":{"type":"string","enum":["open","close"],"description":"Current status of the branch."},"opening_time":{"type":"string","format":"date-time","description":"Opening time of the sector at current day, or next opening datetime."},"closing_time":{"type":"string","format":"date-time","description":"Closing time of the sector at current day or next closing datetime."}}},"Service":{"type":"object","description":"Service model.","example":{"id":"7b6","name":"Plataforma","short_name":"Plataforma"},"properties":{"id":{"type":"string","description":"Service unique identifier."},"name":{"type":"string","description":"Complete name of the service."},"short_name":{"type":"string","description":"Short name of service, used to display the service in small devices."}}},"BookingRange":{"type":"object","description":"Time range with available bookings.","example":{"capacity":5,"start_time":"2017-02-20T14:00:00.000Z","end_time":"2017-02-20T15:00:00.000Z"},"properties":{"capacity":{"type":"integer","format":"int32","description":"Booking capacity of range."},"start_time":{"type":"string","format":"date-time","description":"Start time of range."},"end_time":{"type":"string","format":"date-time","description":"End time of range."}}},"BookingDay":{"type":"object","description":"Day with available bookings.","example":{"day":"2017-02-20T00:00:00.000Z","ranges":[{"capacity":5,"start_time":"2017-02-20T14:00:00.000Z","end_time":"2017-02-20T15:00:00.000Z"}]},"properties":{"day":{"type":"string","format":"date","description":"Day of time ranges with available bookings."},"ranges":{"type":"array","uniqueItems":true,"description":"List of time ranges with available bookings","items":{"$ref":"#/definitions/BookingRange"}}}},"Booking":{"type":"object","description":"Booking model.","example":{"id":"a99011ab967i"},"properties":{"id":{"type":"string","description":"Booking unique identifier."}}},"Ticket":{"type":"object","description":"Ticket model.","example":{"id":"tn0201mtb96a"},"properties":{"id":{"type":"string","description":"Ticket unique identifier."}}}},"tags":[{"name":"Branch","description":"Operations for obtain branches and its sectors. They allow the use of many filter for help your application in the selection of the branch and sector in your own flow of tickets creation or bookings creation (The selection of sector is just required for booking creation)."},{"name":"Service","description":"Operations for obtain the configured services. All operations allow the use of filters for help your application in the service selection."},{"name":"Booking","description":"Operations for obtain, create and delete customer bookings, and obtain the days with available bookings. All operations for obtaintion allow the use of filters."},{"name":"Ticket","description":"Operations for obtain, create, update and delete customer tickets. All operations for obtaintion allow the use of filters."}],"externalDocs":{"description":"Find more info here","url":"https://api.bmatic.com/"}}